#battle-panel
{
    bottom: var(--battle-panel-position-bottom);
    left: var(--battle-panel-position-left);

    font-weight: var(--battle-panel-font-weight);
    font-size: var(--battle-panel-font-size);

    position: absolute;
    display: none;
    color: white;
}

#battle-panel .battle-table
{
    background-color: rgba(0, 0, 0, 0.6);
    width: var(--battle-panel-width);
    table-layout: fixed;

    border-collapse: separate;
    border-spacing: 0;
}

#battle-panel .battle-table td
{
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;

    padding-right: 5px;
    padding-left: 5px;
}

#battle-panel .battle-header
{
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(0, 0, 0, 0.8);

    padding-right: 5px;
    padding-left: 5px;

    font-weight: calc(calc(var(--battle-panel-font-weight) + 100));
    text-transform: uppercase;
}

#battle-panel .battle-status
{
    font-weight: calc(var(--battle-panel-font-weight));
    width: 5%;
}

#battle-panel .battle-position
{
    font-weight: calc(var(--battle-panel-font-weight));
    text-align: left !important;
    width: 5%;
}

#battle-panel .battle-driver
{
    text-align: left !important;
    width: 20%;
}

#battle-panel .battle-logo
{
    width: 5%;
    min-width: var(--weather-panel-img-width);
}

#battle-panel .battle-number
{
    font-weight: calc(var(--battle-panel-font-weight));
    width: 5%;
}

#battle-panel .battle-gap
{
    font-weight: calc(var(--battle-panel-font-weight));
    width: 10%;
}

#battle-panel .battle-tire
{
    font-weight: calc(var(--battle-panel-font-weight));
    width: 5%;
}

#battle-panel .battle-kmh
{
    width: 10%;
}

#battle-panel .battle-class
{
    font-weight: calc(var(--battle-panel-font-weight));
    width: 10%;
}
