#notification-container
{
    font-size: var(--notification-panel-font-size);

    left: var(--notification-panel-position-left);
    top: var(--notification-panel-position-top);

    width: var(--notification-panel-width);
    position: fixed;

    flex-direction: column;
    display: flex;

    z-index: var(--z-index-notification);
    gap: var(--panel-padding);
}

#notification-container .track-limits,
#notification-container .fast-lap,
#notification-container .possible-best-lap,
#notification-container .penalty,
#notification-container .race-winner
{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

    justify-content: space-between;
    display: flex;
    flex: 1;
}

#notification-container .track-limits
{
    background-image: linear-gradient(to right, var(--panel-dark-bg), rgba(255, 165, 0, 1.0));
}

#notification-container .fast-lap
{
    background-image: linear-gradient(to right, var(--panel-dark-bg), rgba(154, 52, 142, 1.0));
}

#notification-container .possible-best-lap
{
    background-image: linear-gradient(to right, var(--panel-dark-bg), rgba(0, 200, 220, 1.0));
}

#notification-container .penalty
{
    background-image: linear-gradient(to right, var(--panel-dark-bg), rgba(242, 92, 84, 1.0));
}

#notification-container .race-winner
{
    background: linear-gradient(120deg, var(--panel-dark-bg) 30%, var(--winner-color) 50%, var(--panel-dark-bg) 70%);
    animation: winner-shimmer 5s linear infinite;
    background-size: 200% 100%;
}

@keyframes winner-shimmer
{
    0% { background-position: 200%; }
    100% { background-position: 0; }
}

#notification-container .winner-entry
{
    border: 2px solid var(--winner-color);
}

/**********************************************************************************************************************/

#notification-container .notification-overflow
{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#notification-container .notification-cell-padding
{
    padding-right: var(--cell-padding-x);
    padding-left: var(--cell-padding-x);
}

#notification-container .notification-entry
{
    color: var(--text-color-secondary);
    width: 100%;
}

#notification-container .header
{
    background: var(--panel-dark-bg);
    font-weight: var(--standings-panel-font-weight);

    justify-content: space-between;
    display: flex;
}

#notification-container .info
{
    background: var(--panel-dark-bg);
    font-weight: var(--standings-panel-font-weight);

    display: flex;
    flex: 1;
}

#notification-container .class-type
{
    width: 14%;
}

#notification-container .vehicle-number
{
    background: rgba(240, 240, 240);
    width: 14%; color: black;

    justify-content: center;
    display: flex;
}

#notification-container .name
{
    width: 45%;
}
