
:root
{
    --telemetry-pit-stop-estimation-left: 1%;    /** Position from the left of the screen */
    --telemetry-pit-stop-estimation-top: 1%;     /** Position from the top of the screen */

    --telemetry-input-chart-left: 1%;            /** Position from the left of the screen */
    --telemetry-input-chart-top: 1%;             /** Position from the top of the screen */

    --weather-forecast-left: 1%;                /** Position from the left of the screen */
    --weather-forecast-top: 1%;                 /** Position from the top of the screen */

    --telemetry-input-chart-height: 100px;
    --telemetry-input-chart-width: 530px;

}

/**********************************************************************************************************************/

body
{
    font-family: 'Titillium Web', 'FiraCode Nerd Font', 'sans-serif';
    margin: 0; padding: 0;
}

/** Apply to all elements (padding is taken from the inner bounds) */
* { box-sizing: border-box; }

/**********************************************************************************************************************/

.center
{
    display: flex;
    align-items: center;
    justify-content: center;
}
